{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
 <section class=" mx-40 my-8">  <!-- peut etre mettre dans le body css = "bg-gray-100 -->
        <section class="flex text-center flex-col">
            <div class="">
                <h1 class="gros-titre text-center hyphens">A Propos De Nous</h1>
                <div class="flex justify-center mt-10 gap-12">
                    <div class="basis-1/2">
                        <img src="../../img/gastronomie-luxe.webp" class="rounded-md h-full">
                    </div>
                    <div class="basis-1/2 text-left">
                        <h2 class="titre">Nous fournissons des aliments sains pour votre famille.</h2>
                        <br>
                        <p class="text-lg">Notre histoire a commencé avec la vision de créer une expérience
                            gastronomique
                            unique qui
                            allie une cuisine raffinée, un service exceptionnel et une ambiance vibrante. Enracinés dans
                            la riche culture culinaire de la ville, nous voulons honorer nos racines locales tout en
                            insufflant un goût international.</p>
                        <br>
                        <p>Nous pensons que le repas n'est pas seulement une question de nourriture, mais aussi
                            d'expérience globale. Notre personnel, réputé pour sa chaleur et son dévouement, s'efforce
                            de faire de chaque visite un événement inoubliable.</p>
                    </div>
                </div>
            </div>



            <div class="flex flex-row justify-center mt-24 gap-10 ">

                <div class="flex flex-col basis-1/2 text-left">
                    <h2 class="titre">Quelques informations </h2>
                    <br>
                    <p class="text-lg">Nous pensons que le repas n'est pas seulement une question de nourriture, mais
                        aussi
                        d'expérience globale. Notre personnel, réputé pour sa chaleur et son dévouement,
                        s'efforce de faire de chaque visite un événement inoubliable.</p>
                    <section class="flex flex-wrap text-center mx-4 my-10 gap-4 justify-center">
                        <div
                            class="flex flex-col justify-center bg-white border border-black text-center w-[17rem] h-44">
                            <h2 class="text-3xl">3</h2>
                            <p>Locations</p>
                        </div>
                        <div
                            class="flex flex-col justify-center bg-white border border-black text-center w-[17rem] h-44">
                            <h2 class="text-3xl">2018</h2>
                            <p>Date de créations</p>
                        </div>
                        <div
                            class="flex flex-col justify-center bg-white border border-black text-center  w-[17rem] h-44">
                            <h2 class="text-3xl">65+</h2>
                            <p>Salariés</p>
                        </div>
                        <div
                            class="flex flex-col justify-center bg-white border border-black text-center w-[17rem] h-44">
                            <h2 class="text-3xl">100%</h2>
                            <p>Satisfaction</p>
                        </div>
                    </section>
                    <div class="h-[1200px]">
                        <img class="h-[1200px]" src="../../img/gastronomie-luxe.webp">
                    </div>
                </div>

                <div class="flex flex-col  basis-1/2">
                    <img class="rounded-md h-full" src="../../img/gastronomie-luxe.webp">
                </div>
            </div>
        </section>
    </section>
{% endblock %}