{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<section class="first-img flex flex-col justify-center text-center bg-cover bg-center text-white" style="background-image: url('../../img/gastronomie-luxe.webp');
        background-position: center;
        background-size: cover;">
        <h1 class="gastronomie-texte p-4 ml-4">la <br> gastronomie <br>
            à portée de <br> main</h1>
        <h2>Découvrez toutes nos spécialités culinaires</h2>
        <div class="pt-2">
            <button
                class=" border-2 rounded-full px-5 bg-red-500 tracking-wide text-md p-1 mr-2">Commander</button>
            <button class="border-black border-2 rounded-full px-5 tracking-wide text-md">Explorer le menu</button>
        </div>
    </section>
    
{% endblock %}
