{% extends 'base.html.twig' %}

{% block title %}ACME - Menu{% endblock %}

{% block body %}
<h1 class="text-center text-6xl">Nos Menus</h1>
<div class="flex justify-center space-x-6 mt-10 text-center">
    <a href="" class="rounded-3xl text-white font-medium bg-red-800 w-40 h-12 leading-[2.75rem]">Tout</a>
    <a href="" class="rounded-3xl font-medium border-solid border-2 w-40 h-12 leading-[2.75rem]">Traditionnelle</a>
    <a href="" class="rounded-3xl font-medium border-solid border-2 w-40 h-12 leading-[2.75rem]">Tex-Mex</a>
    <a href="" class="rounded-3xl font-medium border-solid border-2 w-40 h-12 leading-[2.75rem]">Orientale</a>
    <a href="" class="rounded-3xl font-medium border-solid border-2 w-40 h-12 leading-[2.75rem]">Americaine</a>
</div>
<div class="justify-center mt-16 w-4/5 mx-auto grid grid-cols-5">
    {% for product in products %}
    <div class="text-center border-solid border-2 rounded-xl overflow-hidden shadow-lg">
        <img src="{{ product.image }}">
        <p class="mt-2">{{ product.price }} euros</p>
        <p class="mt-2 font-bold">{{ product.name }}</p>
        <p class="mt-2 mb-5 w-5/6 mx-auto">{{ product.description }}</p>
        <a class="">Ajouter au panier</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
