<!DOCTYPE html>
<html lang="fr">

<head>
    <title>ACMEFooter</title>
    <style>
        footer {
            background-color: #333333;
            color: white;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .footer-content {
            display: flex;
            justify-content: space-between;
        }

        .acme-section,
        .pages-section,
        .utility-pages-section,
        .instagram-section {
            width: 30%;
        }

        .acme-section img {
            border-radius: 10px; 
        }

        .pages-section ul,
        .utility-pages-section ul {
            list-style: none;
            font-size: 12px;
            padding: 0;
            margin-bottom: 15px; 
        }

        .instagram-section img {
            width: 48%; 
            margin-bottom: 10px;
            border-radius: 10px; 
        }
    </style>
</head>

<body>
    <footer>
        <div class="footer-content">
            <div class="acme-section">
                <p style="font-size: 18px; font-weight: bold;">ACME</p>
                <p style="font-size: 9px;">Faites Votre Choix.</p>
                <div style="display: flex; justify-content: left; align-items: left; margin-top: 20px;">
                    <a href="#" style="margin-right: 15px;"><img src="Logo_of_Twitter.svg.png" alt="Twitter" width="30" height="30"></a>
                    <a href="#" style="margin-right: 15px;"><img src="Facebook_F_icon.svg.png" alt="Facebook" width="30" height="30"></a>
                    <a href="#" style="margin-right: 15px;"><img src="Instagram_icon.png" alt="Instagram" width="30" height="30"></a>
                    <a href="#" style="margin-right: 15px;"><img src="25231.png" alt="GitHub" width="32" height="30"></a>
                </div>
            </div>
            <div class="pages-section">
                <h2 style="font-size: 12px;">Pages</h2>
                <ul>
                    <li><a href="#" style="color: white; text-decoration: none;">Accueil</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">A propos</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Menu</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Contact</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Delivery</a></li>
                </ul>
            </div>
            <div class="utility-pages-section">
                <h2 style="font-size: 12px;">Utility Pages</h2>
                <ul>
                    <li><a href="#" style="color: white; text-decoration: none;">Start Here</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Styleguide</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Password Protected</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">404-Not Found</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Licenses</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Changelog</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">View More</a></li>
                </ul>
            </div>
            <div class="instagram-section">
                <h2 style="font-size: 13px;">Suivez notre Instagram</h2>
                <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <img src="660.jpg" alt="Food 1" width="48%" height="150">
                    <img src="Nourriture-americaine-scaled.jpg" alt="Food 2" width="48%" height="150">
                    <img src="Formation_Cuisine-orientale1.jpg" alt="Food 3" width="48%" height="150">
                    <img src="recette-cookeo-boeuf-bourguignon1.jpg" alt="Food 4" width="48%" height="150">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
