<!-- Responsive navbar-->
    <nav class="flex bg-neutral-200 justify-between justify-items-center py-3 px-10">
            <h1 class="font-serif italic text-2xl p-4 ml-4">ACME</h1>
        <div class="flex  justify-between px-8">
            <a class="p-4 text-center">Accueil</a>
            <a class="p-4" href="templates/home/Apropos.html.twig">A propos</a>
            <a class="p-4">Menu</a>
            <button class="border-black border-2 rounded-full px-5 tracking-wide text-md mr-2">Panier</button>
            <button class="border-black border-2 rounded-full px-5 tracking-wide text-md mr-2">Mon profil</button>
        </div>
    </nav>